USE [papatin]
GO
/****** Object:  Trigger [dbo].[Tr_Usuario_Alta]    Script Date: 26/08/2025 09:12:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[Tr_Usuario_Alta]
ON [dbo].[usuario] 
AFTER INSERT
AS 
BEGIN 
	INSERT INTO usuarioAuditoria(
		Nombre, 
		Edad,
		Correo,
		FechaAlta,
		Movimientoauditoria,
		Usuarioauditoria,
		FechaAuditoria
	)
	SELECT 
		i.Nombre,
		i.Edad,
		i.Correo,
		i.FechaAlta,
		'A',
		CURRENT_USER,
		GETDATE()
	FROM INSERTED i;
END